* {
    margin: 0;
    padding: 0;
}

#modal.hidden{
    display: none;
}

main#modal {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.715);
    justify-content: center;
    position: absolute;
    align-items: center;
    backdrop-filter: blur(9px);

    &>div {
        width: 573px;
        border-radius: 16px;
        background-color: white;
        padding: 25px;

        &>h1 {
            text-align: center;
            font-family: Mulish;
            font-weight: 700;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0.25px;
            vertical-align: middle;
            margin-bottom: 54px;
        }

        h3 {
            flex: 1;
            font-family: Mulish;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.75px;
            color: #A0A3BD;

            span {
                color: #D00707;
                font-weight: 700;
            }
        }

        &>nav {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 34px;

            &>h1 {
                font-family: Mulish;
                font-weight: 700;
                font-size: 20px;
                line-height: 100%;
                letter-spacing: 0.25px;
                vertical-align: middle;
                color: #1D4ED8;
            }

            h2 {
                font-weight: 700;
                font-size: 18px;
                line-height: 100%;
                letter-spacing: 0.25px;
                color: #14142B;
            }

            div {
                width: 72px;
                height: 48px;
                padding: 14px;
                margin-left: 20px;
                color: #1D4ED8;
                text-align: center;
                border-radius: 5px;
                border: 1px solid #1D4ED8;
            }
        }

        button {
            font-family: Mulish;
            font-weight: 700;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.75px;
            text-align: center;
            vertical-align: middle;
            width: 100%;
            height: 56px;
            opacity: 1;
            border-radius: 4px;
            
            &:nth-of-type(1) {
                color: white;
                background-color: #1D4ED8;
                margin: 45px 0 23px;
            }
            
            &:nth-of-type(2) {
                color: #1D4ED8;
                background-color: white;
                border: 1px solid #1D4ED8;
            }
        }
    }

}